label {
    padding: 4px;
    border-radius: 20px;
    position: absolute;
    width: 85px;
    height: 30px;
    background-color: rgb(75, 78, 75);
}
input {
    visibility: hidden;
}
.circle {
    width: 34px;
    background-color: white;
    height: 34px;
    border-radius: 50%;
    top: 3px;
    position: absolute;
    left: 3px;
    animation: toggleOff 4s linear forwards;
}

 input:checked + label {
    background-color: salmon;
} 
input:checked + .label .circle {
    animation: toggleOn  linear forwards;
}
.icons {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

@keyframes toggleOn {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(50px);
    }
}
@keyframes toggleoff {
    0%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
    }
}